<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="u.nus.edu.marketscanner">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name="u.nus.edu.marketscanner.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="u.nus.edu.marketscanner.Cart"></activity>
        <activity android:name="u.nus.edu.marketscanner.Check_Out"></activity>
        <activity android:name="u.nus.edu.marketscanner.Login"></activity>
        <activity android:name="u.nus.edu.marketscanner.Sign_Up"></activity>
    </application>

</manifest>